.title {
  margin: 0;
  font-weight: normal;
}

.projection {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .canvas {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--color-dark));
  }
}

.wounds {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
